pyrofork==2.3.45 
TgCrypto
pyromod==1.5
schedule
APscheduler
pymongo
motor
dnspython
flask
gunicorn
python-dotenv
pytz
requests
bs4
aiofiles
asyncio
git+https://github.com/hydrogram/hydrogram.git
aiosqlite
psutil
